{% extends 'base.html.twig' %}

{% block title %}Pilote index{% endblock %}

{% block body %}
    <h1>Pilote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pilote in pilotes %}
            <tr>
                <td>{{ pilote.id }}</td>
                <td>{{ pilote.nom }}</td>
                <td>{{ pilote.prenom }}</td>
                <td>
                    <a href="{{ path('pilote_show', {'id': pilote.id}) }}">Voir </a>
                    <a href="{{ path('pilote_edit', {'id': pilote.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pilote_new') }}">Créer un nouveau pilote</a>
{% endblock %}
