{% extends 'base.html.twig' %}

{% block title %}Création Gestionnaire{% endblock %}

{% block body %}
    <h1>Création Gestionnaire </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestionnaire in gestionnaires %}
            <tr>
                <td>{{ gestionnaire.id }}</td>
                <td>{{ gestionnaire.nom }}</td>
                <td>{{ gestionnaire.prenom }}</td>
                <td>
                    <a href="{{ path('gestionnaire_show', {'id': gestionnaire.id}) }}">Voir</a>
                    <a href="{{ path('gestionnaire_edit', {'id': gestionnaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gestionnaire_new') }}">Créer un Gestionnaire</a>
    <p></p><a href="{{ path('admin') }}">Retour</a></p>
{% endblock %}
